<section id='viewer'>
  <div id="viewer__controls" >
    <p>Form controls here</p>
  </div>
  <header class='viewer__cols'>
    <div id='viewer__legend-editions'>
      Legend to come
    </div>
    <div id='viewer__title'>
      Edition Label
    </div>
    <div id='viewer__legend-variance'>
      Variance Legend
    </div>
  </header>
  <div id='viewer__headers' class='viewer__cols'>
    <div>Marginalia</div>
    <div>Text</div>
    <div>Variations</div>
  </div>
  <div id='viewer__contents' class='viewer__cols'>
    <aside id="viewer__marginalia">
      <div id="viewer__marginalia--zone1" class='viewer__zone'>Zone 1</div>
      <div id="viewer__marginalia--zone2" class='viewer__zone'>Zone 2</div>
      <div id="viewer__marginalia--zone3" class='viewer__zone'>Zone 3</div>
    </aside>
    <div id="viewer_text">Edition Text</div>
    <aside id="viewer_variations">Variations Content</aside>
  </div>
  <footer id="viewer_pagination_controls">
    <p>Pagination controls here</p>
  </footer>
</section>