---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">
  {% include head.html page=page %}
  <body>
    {% include header.html page=page %}
    <div id='content-area'>
      <section id="wayfinding" role="navigation"></section>
      <main id="primary-content" role="main">
        {% if page.title %}
          <h1>{{page.title}}</h1>
        {% endif %}
        {{page.content | markdownify}}
      </main>
      {% if page.categories contains 'viewer' %}
        {% include viewer.html %}
      {% endif %}
      {% if page.secondary_content or page.secondary_sidebar %}
        <section id="secondary-content" class='region'>
          <a name="secondary-content" tabindex="0"></a>{# link is in html.html.twig #}
          <div class='content-column{% if page.secondary_sidebar %} with-sidebar{% endif %}'>
            {{ page.secondary_content }}
      
            {% if page.secondary_sidebar %}
              <aside role="complementary">
                {{ page.secondary_sidebar }}
              </aside>
            {% endif %}
          </div>
        </section>
      {% endif %}
      {% if page.tertiary_content or page.tertiary_sidebar %}
        <section id="tertiary-content"  class='region'>
          <a name="tertiary-content" tabindex="0"></a>{# link is in html.html.twig #}
          <div class='content-column{% if page.tertiary_sidebar %} with-sidebar{% endif %}'>
            {{ page.tertiary_content }}
      
            {% if page.tertiary_sidebar %}
              <aside role="complementary">
                {{ page.tertiary_sidebar }}
              </aside>
            {% endif %}
          </div>
        </section>
      {% endif %}
    </div>
  </body>
  {% include footer.html page=page %}
  {% include endjs.html %}
</html>