h1
  font-weight: $lightfw
  text-align: center
  width: 100%


main
  > p, h1, h2, h3, h4, h5, h6
    max-width: $legible_inset_width
    margin: 0 auto
    

.fontfamily-base
  font-family: $basefont

.fontfamily-heading
  font-family: $headingfont
  
.fontfamily-alt
  font-family: $altfont